<% @pending_records.each do |record| %>

  <p><%= record.name %> — <%= link_to 'Схвалити', records_approve_path(record),
          method: :patch,
          data: { confirm: 'Approve?' } %>
  </p>

<% end %>

<%= link_to 'Назад', records_path %>
