<% if obj.errors.any? %>
  <div>
    <h2>
      Стільки хиб перешкодило дії: <%= obj.errors.count %>
    </h2>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
